.container{
    width:300px;
    background-color: rgb(196, 193, 190);
    height: 500px;
    margin:10px 2.5% 5px 2.5%;
    border-radius: 25px;
    
}
.container>img{
    width:250px;
    height:300px;
    margin-left: 8%;
    border-radius: 25px;
    margin-top: 20px;
}
.container>h3{
    margin-top: 8px;
    color:rgb(100, 100, 100);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container>p{
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    color:rgb(230, 228, 228);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: green;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    width: auto;
}
div.counter{
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
div.counter>img{
    margin-right: 8px;
    margin-left: 8px;
    cursor: pointer;
}
div.counter>span{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(65, 113, 245);
    padding:5px;
    box-sizing: border-box;
    border-radius: 4px;
}
.deactive{
    opacity: 0.3;
}